.overview {
	padding-top: 40px;
}

.overview-2 {
	padding-top: 100px;
}

.template-card {
	background-color: #fff;
	width: 610px;
	height: 626px;
	border: 1px #e5e5e5 solid;
}

.template-card img {
	width: 500px;
	height: 400px;
	margin-left: 30px;
	border: 1px #e5e5e5 solid;
}

.name {
	padding-left: 20px;
	padding-right: 20px;
}

.name h2 {
	font-weight: normal;
}

.about-card {
	background-color: #fff;
	width: 610px;
	height: 200px;
	border: 1px #e5e5e5 solid;
}

.about-card h4 {
	font-weight: normal;
}

.order-card {
	background-color: #fff;
	width: 358px;
	height: 287px;
	border: 1px #e5e5e5 solid;
	margin: 0 10px 0 50px;
}

.order-card .space-left {
	margin-left: 15px;
}

.review-card {
}

.profile-card {
	background-color: #fff;
	width: 600px;
	height: 400px;
	border: 1px #e5e5e5 solid;
}

.profile-card .img-circle {
	display: table;
	margin: 0 auto;
	width: 100px;
}

.profile-card .img-circle {
	margin-top: 10px;
}

.profile-card p {
	margin-left: 20px;
	margin-right: 20px;
}

.single-package-profile-card {
	background-color: #fff;
	width: 358px;
	height: 200px;
	border: 1px #e5e5e5 solid;
}

.single-package-profile-card .img-circle {
	margin-left: 140px;
	margin-top: 20px;
	width: 70px;
}

.single-package-profile-card p {
	margin-left: 20px;
	margin-right: 20px;
}

.add-gig-card {
	background-color: #fff;
	width: 100%;
	height: 150px;
	border: 1px #e5e5e5 solid;
}

.new-gig-card {
	background-color: #fff;
	width: 600px;
	height: 500px;
	border: 1px #e5e5e5 solid;
}

.new-gig-card form {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.list-orders-card {
	background-color: #fff;
	width: 100%;
	height: 600px;
	border: 1px #e5e5e5 solid;
}

.my-gigs-card {
	background-color: #fff;
	width: 600px;
	height: 600px;
	border: 1px #e5e5e5 solid;
}

.order-image-my-gig {
	width: 40px;
	height: 40px;
}

/* Margin stuff */
.table-margin {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.single-order-package-card {
	background-color: #fff;
	width: 500px;
	height: 700px;
	border: 1px #e5e5e5 solid;
}

.space-between h4,
h3 {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

.single-order-package-card .inner img {
	width: 150px;
	height: 150px;
	display: table;
	margin: 0 auto;
}

.single-order-package-card .promocode {
	margin-right: 60px;
	margin-left: 60px;
}

.single-order-package-card .proceed-btn {
	margin-right: 50px;
	margin-left: 50px;
	width: 350px;
}

.margin-both {
	margin-left: 20px;
	margin-right: 20px;
}

.dollar {
	color: green;
}

/* Chat ROOM */
.chat-room-card {
	background-color: #fff;
	width: 700px;
	height: 600px;
	border: 1px #e5e5e5 solid;
}

.chat-left img {
	width: 50px;
}

.chat-left .text-left {
	margin-left: 40px;
}

.chat-right img {
	width: 50px;
}

.chat-input {
	margin-right: 60px;
	position: absolute;
	bottom: 20px;
}

.cart-card {
	background-color: #fff;
	width: 100%;
	height: 250px;
	border: 1px #e5e5e5 solid;
}

.cart-summary {
	background-color: #fff;
	width: 100%;
	height: 600px;
	border: 1px #e5e5e5 solid;
}
