<div class="container">
  <h1 class="text-center">Profile</h1>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="overview">
        <div class="profile-card">
          <img class="img-circle" src=" {{user.photo}} "/>
          <hr/>
          <p class="text-center">
            Hello {{ user.name }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="overview">

      </div>

    </div>
  </div>
</div>
