<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="overview">
                <div class="text-center">Enter you gigs details</div>
                <br>
                <div class="new-gig-card">
                    <form method="post">
                        <div class="form-group">
                            <label>Gig title</label>
                            <input type="text" class="form-control" placeholder="I will do something" name="gig_title">
                        </div>

                        <div class="form-group">
                            <label for="">Gig price</label>
                            <input type="text" class="form-control" placeholder="Please enter price you want to set" name="gig_price">
                        </div>

                        <div class="form-group">
                            <label for="">Gig category</label>
                            <select name="gig_category" class="form-control">
                                <option>Programming</option>
                                <option>Website</option>
                                <option>Design</option>
                                <option>Marketing</option>
                                <option>Others</option>
                            </select>
                        </div>

                        <div class="form-group input-group-lg">
                            <label>Gig Description</label>
                            <input type="text" class="form-control" placeholder="Describe your gig" name="gig_about">
                        </div>

                        <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>