<div class="hero">
	<div class="container">
		<div class="row">
			<div class="hero-heading">
				Service for lean microentrepreneurs  <br />
				Find it on Fiverclone.
				<p>Browse. Buy. Done. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<form method="post" action="/search">
					<div class="input-group input-group-lg">
						<input type="text" class="form-control" name="search_input" placeholder="What are you searching?..">
						<span class="input-group-btn">
							<input type="submit" class="btn btn-success" value="Find gigs">
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container section">
	<h1>
		Newest Gigs
	</h1>
		{{#each gigs}}
		<div class="col-md-3">
			<div class="gig-card">
				<a href="/service_detail/{{ _id }}">
					<img src="/img/copywrite.jpg" />
					<h4>{{title}}</h4>
					<h3>${{price}}</h3>
				</a>
			</div>
		</div>
		{{/each}}
	</div>
</div>