<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="overview">
                <div class="single-order-package-card">
                    <div class="margin-both">
                        <h2 class="text-center">Summary</h2>
                        <hr />
                        <div class="inner">
                            <img src="{{gig.picture}}" class="img-circle">
                            <br />
                            <p class="text-center">{{gig.title}}</p>
                        </div>
                        <hr />
                        <div class="input-group promocode">
                            <input type="text" class="form-control" placeholder="Enter promocode" id="code">
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-block" id="promocodeButton">Apply</button>
                            </span>
                            <p class="text-center" id="promocodeResponse"></p>
                        </div>
                        <hr />
                        <div class="space-between">
                            <h4><span>Subtotal: </span><span class="dollar fee">${{gig.price}}</span></h4>
                        </div>

                        <hr />
                        <div class="space-between">
                            <h4><span>Fee: </span><span class="dollar fee">$3.15</span></h4>
                        </div>

                        <hr />

                        <div class="space-between">
                            <h3><span>Total: </span><span class="dollar fee"><span id="totalPrice">${{totalPrice}}</span></span></h3>
                        </div>

                        <hr />

                        <a href="/payment" class="btn btn-success btn-lg proceed-btn">Proceed to payment</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>